<section>
  <div class="page-header">
    <h1 ng-bind="vm.member.displayName"></h1>
  </div>
  <div class="pull-right"
       ng-show="vm.member.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="members.edit({ memberId: vm.member._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Created on
      <span ng-bind="vm.member.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.member.username"
            ng-bind="vm.member.displayName">
          </span>
            <h2>pseudo : {{vm.member.username}}</h2>   
            <h2>first name : {{vm.member.providerData.first_name || vm.member.firstName}}</h2>
            <h2>last name : {{vm.member.providerData.last_name || vm.member.lastName}}</h2>
            <h2>email : {{vm.member.providerData.email || vm.member.email}}</h2>
            <h2>age : {{vm.member.birth | date:'yyyy'}}</h2>
            <img class="image" ng-src="/{{vm.member.profileImageURL}}" style="width:300px; height:auto">
          
          
          
      <span ng-if="!vm.member.username">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.member.content"></p>
</section>
