<section>
  <div class="container">
    <div class="page-header">
      <h1>GalaJSy</h1>
    </div>
    <h2>The social network for developpers fullstack javascript!</h2>
    <h3>what's else?</h3>
    <h4>Direct live learning, improving, sharing and flying in the galaJSy code</h4>
    <br>
    <p>
      ⭐ STACK utilisée : MEAN.JS ( MongoDB Express AngularJS Node.js)<br> ⭐ Prérequis:
      <br>&nbsp;&nbsp;Git
      <br>&nbsp;&nbsp;Node.js & npm
      <br>&nbsp;&nbsp;MongoDB
      <br>&nbsp;&nbsp;Bower (Bower package manager) gestion des packets front-end.
      <br>&nbsp;&nbsp;Gulp (task runner) automtisation de tache , Live reload.
      <br>⭐ Structure de l'application
      <br>&nbsp;📁 main
      <br>&nbsp;&nbsp;&nbsp;📁config/
      <br>&nbsp;&nbsp;&nbsp;📁modules/
      <br>&nbsp;&nbsp;&nbsp;📁public/
      <br>&nbsp;&nbsp;&nbsp;📁scripts/
    </p>
    <hr>
    <hr>
    <h1>FRONT-END</h1>
    <P>⭐Gestion de l'architecture MVC : ANGULARJS.</P>
    <P>⭐Gestion HTML/CSS: TWITTER BOOTSTRAP.</P>
    <hr>
    <h1>BACK-END</h1>
    <P>⭐ Serveur : FRAMEWORK EXPRESSJS basé sur NODE.JS.</P>
    <p>⭐ Gestion de la communication synchrone : SOCKET.IO basé sur WEBSOCKET;</p>
    <P>⭐ Gestion de la base de donnée MongoDB : MONGOOSE.
      <P>
        <p>⭐ Gestion de l'inscription/connexion des utilisateurs: PASSPORTJS passport-facebook passport-twitter.</p>
        <p>⭐ Gestion de l'envoi de mail: NODEMAILER.</p>
        <hr>
        <hr>
        <h5>made by Manuel ADELE</h5>
        <br>
        <p>Specials thanks to my family<br> & APLUS SA</p>
  </div>

</section>