<div class="container-fluid footer">
  <p>&copy; 2017 Manuel ADELE - license: <strong>MIT</strong> - powered By:
    <img class="responsive" src="modules/core/client/img/footer/powered01.gif" alt="" width="30px" height="26px" />
    <img class="responsive" src="modules/core/client/img/footer/powered02.png" alt="" width="70px" height="50px" />
    <img class="responsive" src="modules/core/client/img/footer/powered03.png" alt="" width="70px" height="40px" />
    <img class="responsive" src="modules/core/client/img/footer/powered04.png" alt="" width="90px" height="60px" />
    <img class="responsive" src="modules/core/client/img/footer/yeoman.png" alt="" width="50px" height="50px" />
    <img class="responsive" src="modules/core/client/img/footer/gulp.png" alt="" width="50px" height="50px" />
    <img class="responsive" src="modules/core/client/img/footer/angular.svg.png" alt="" width="150px" height="30px" />
    </p>
</div>
