<div class="container-fluid footer">
  <p>&copy; 2017 Manuel ADELE - license: <strong>MIT</strong> - powered By:
    <img src="modules/core/client/img/footer/powered01.gif" width="30px" height="26px" />
    <img src="modules/core/client/img/footer/powered02.png" width="70px" height="50px" />
    <img src="modules/core/client/img/footer/powered03.png" width="70px" height="40px" />
    <img src="modules/core/client/img/footer/powered04.png" width="70px" height="50px" />
    <img src="modules/core/client/img/footer/powered05.png" width="50px" height="30px" />
    <img src="modules/core/client/img/footer/yeoman.png" width="50px" height="50px" />
    <img src="modules/core/client/img/footer/gulp.png" width="50px" height="50px" />
    <img src="modules/core/client/img/footer/angular.svg.png" width="150px" height="30px" />
    <img src="modules/core/client/img/footer/bower.png" width="50px" height="50px" />
    </p>
</div>
