<section>
  <div class="container-fluid text-center">
    <div class="row">
      <li class=" col-sm-1 col-xs-3">
        <a class="thumbnail" id="carousel-selector-1"><img src="http://placehold.it/150x150&text=1"></a>
      </li>

      <li class=" col-sm-1 col-xs-3">
        <a class="thumbnail" id="carousel-selector-2"><img src="http://placehold.it/150x150&text=2"></a>
      </li>

      <li class=" col-sm-1 col-xs-3">
        <a class="thumbnail" id="carousel-selector-3"><img src="http://placehold.it/150x150&text=3"></a>
      </li>

      <li class=" col-sm-1 col-xs-3">
        <a class="thumbnail" id="carousel-selector-4"><img src="http://placehold.it/150x150&text=4"></a>
      </li>
      <li class=" col-sm-1 col-xs-3">
        <a class="thumbnail" id="carousel-selector-1"><img src="http://placehold.it/150x150&text=1"></a>
      </li>

      <li class=" col-sm-1 col-xs-3">
        <a class="thumbnail" id="carousel-selector-2"><img src="http://placehold.it/150x150&text=2"></a>
      </li>

      <li class=" col-sm-1 col-xs-3">
        <a class="thumbnail" id="carousel-selector-3"><img src="http://placehold.it/150x150&text=3"></a>
      </li>

      <li class=" col-sm-1 col-xs-3">
        <a class="thumbnail" id="carousel-selector-4"><img src="http://placehold.it/150x150&text=4"></a>
      </li>
      <li class=" col-sm-1 col-xs-3">
        <a class="thumbnail" id="carousel-selector-1"><img src="http://placehold.it/150x150&text=1"></a>
      </li>

      <li class=" col-sm-1 col-xs-3">
        <a class="thumbnail" id="carousel-selector-2"><img src="http://placehold.it/150x150&text=2"></a>
      </li>

      <li class=" col-sm-1 col-xs-3">
        <a class="thumbnail" id="carousel-selector-3"><img src="http://placehold.it/150x150&text=3"></a>
      </li>

      <li class=" col-sm-1 col-xs-3">
        <a class="thumbnail" id="carousel-selector-4"><img src="http://placehold.it/150x150&text=4"></a>
      </li>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="row">
      <li class=" col-sm-1 col-xs-3">
        <a class="thumbnail" id="carousel-selector-1"><img src="http://placehold.it/150x150&text=1"></a>
      </li>

      <li class=" col-sm-1 col-xs-3">
        <a class="thumbnail" id="carousel-selector-2"><img src="http://placehold.it/150x150&text=2"></a>
      </li>

      <li class=" col-sm-1 col-xs-3">
        <a class="thumbnail" id="carousel-selector-3"><img src="http://placehold.it/150x150&text=3"></a>
      </li>

      <li class=" col-sm-1 col-xs-3">
        <a class="thumbnail" id="carousel-selector-4"><img src="http://placehold.it/150x150&text=4"></a>
      </li>
      <li class=" col-sm-1 col-xs-3">
        <a class="thumbnail" id="carousel-selector-1"><img src="http://placehold.it/150x150&text=1"></a>
      </li>

      <li class=" col-sm-1 col-xs-3">
        <a class="thumbnail" id="carousel-selector-2"><img src="http://placehold.it/150x150&text=2"></a>
      </li>

      <li class=" col-sm-1 col-xs-3">
        <a class="thumbnail" id="carousel-selector-3"><img src="http://placehold.it/150x150&text=3"></a>
      </li>

      <li class=" col-sm-1 col-xs-3">
        <a class="thumbnail" id="carousel-selector-4"><img src="http://placehold.it/150x150&text=4"></a>
      </li>
      <li class=" col-sm-1 col-xs-3">
        <a class="thumbnail" id="carousel-selector-1"><img src="http://placehold.it/150x150&text=1"></a>
      </li>

      <li class=" col-sm-1 col-xs-3">
        <a class="thumbnail" id="carousel-selector-2"><img src="http://placehold.it/150x150&text=2"></a>
      </li>

      <li class=" col-sm-1 col-xs-3">
        <a class="thumbnail" id="carousel-selector-3"><img src="http://placehold.it/150x150&text=3"></a>
      </li>

      <li class=" col-sm-1 col-xs-3">
        <a class="thumbnail" id="carousel-selector-4"><img src="http://placehold.it/150x150&text=4"></a>
      </li>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="row">
      <li class=" col-sm-1 col-xs-3">
        <a class="thumbnail" id="carousel-selector-1"><img src="http://placehold.it/150x150&text=1"></a>
      </li>

      <li class=" col-sm-1 col-xs-3">
        <a class="thumbnail" id="carousel-selector-2"><img src="http://placehold.it/150x150&text=2"></a>
      </li>

      <li class=" col-sm-1 col-xs-3">
        <a class="thumbnail" id="carousel-selector-3"><img src="http://placehold.it/150x150&text=3"></a>
      </li>

      <li class=" col-sm-1 col-xs-3">
        <a class="thumbnail" id="carousel-selector-4"><img src="http://placehold.it/150x150&text=4"></a>
      </li>
      <li class=" col-sm-1 col-xs-3">
        <a class="thumbnail" id="carousel-selector-1"><img src="http://placehold.it/150x150&text=1"></a>
      </li>

      <li class=" col-sm-1 col-xs-3">
        <a class="thumbnail" id="carousel-selector-2"><img src="http://placehold.it/150x150&text=2"></a>
      </li>

      <li class=" col-sm-1 col-xs-3">
        <a class="thumbnail" id="carousel-selector-3"><img src="http://placehold.it/150x150&text=3"></a>
      </li>

      <li class=" col-sm-1 col-xs-3">
        <a class="thumbnail" id="carousel-selector-4"><img src="http://placehold.it/150x150&text=4"></a>
      </li>
      <li class=" col-sm-1 col-xs-3">
        <a class="thumbnail" id="carousel-selector-1"><img src="http://placehold.it/150x150&text=1"></a>
      </li>

      <li class=" col-sm-1 col-xs-3">
        <a class="thumbnail" id="carousel-selector-2"><img src="http://placehold.it/150x150&text=2"></a>
      </li>

      <li class=" col-sm-1 col-xs-3">
        <a class="thumbnail" id="carousel-selector-3"><img src="http://placehold.it/150x150&text=3"></a>
      </li>

      <li class=" col-sm-1 col-xs-3">
        <a class="thumbnail" id="carousel-selector-4"><img src="http://placehold.it/150x150&text=4"></a>
      </li>
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Pagination -->
  <div class="row text-center">
    <div class="col-lg-12">
      <ul class="pagination">
        <li>
          <a href="#">&laquo;</a>
        </li>
        <li class="active">
          <a href="#">1</a>
        </li>
        <li>
          <a href="#">2</a>
        </li>
        <li>
          <a href="#">3</a>
        </li>
        <li>
          <a href="#">4</a>
        </li>
        <li>
          <a href="#">5</a>
        </li>
        <li>
          <a href="#">&raquo;</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- /.row -->
</section>
